<table class="w-full bg-lightGreen" >
  <tr>
    <td class="pt-[30px] pb-[30px] px-[20px] text-2xl text-center text-darkGreen font-bold">
      Sint cupidatat occaecat ut
    </td>
  </tr>
  <tr>
    <td class="w-full px-[20px] pb-[30px] bg-lightGreen">
      <table class="w-full">
        <tr>
          <th class="w-[270px] sm:w-auto sm:block bg-white px-[20px] py-[20px] font-normal">
            <table class="w-full text-center">
              <tr>
                <td class="w-full text-center">
                  <x-image class="w-[100px] max-w-[100px]" imgUrl="image-4.png"
                />
              </td>
              </tr>
              <tr>
                <td class="w-full px-[20px] pt-[10px] pb-[10px] text-xl text-darkGreen font-bold text-center">Nisi ut ade</td>
              </tr>
              <tr>
                <td class="w-full pt-[10px] pb-[10px] text-base text-gray font-normal">Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                  ut labore et dolore magna
                  aliqua. Ut enim ad minim
                  veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px] font-normal">1</span></td>
              </tr>
            </table>
          </th>
          <th class="w-[20px] sm:h-5 sm:w-auto sm:block"></th>
          <th class="w-[270px] sm:w-auto sm:inline-block bg-white px-[20px] py-[20px] font-normal">
            <table class="w-full text-center">
              <tr>
                <td class="w-full text-center">
                  <x-image class="w-[100px] max-w-[100px]" imgUrl="image-4.png"
                />
              </td>
              </tr>
              <tr>
                <td class="w-full px-[20px] pt-[10px] pb-[10px] text-xl text-darkGreen font-bold text-center">Duis aute irure</td>
              </tr>
              <tr>
                <td class="w-full pt-[10px] pb-[10px] text-base text-gray font-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt
                  ut labore et dolore magna
                  aliqua. Ut enim ad minim
                  veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px] font-normal">2</span></td>
              </tr>
            </table>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
 
