<table class="w-full">
  <tr>
    <td class="px-[20px]">
      <table class="w-full">
        <tr>
          <td class="w-[560px] max-w-[560px] sm:w-full">
            <x-image class="w-[560px] sm:w-full" imgUrl="image-1.png"
          />
        </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="w-[450px] max-w-[450px] sm:w-auto px-[20px] pt-[25px] pb-[20px] text-2xl text-center text-darkGreen font-bold">Excepteur sint occaecat cupidatat</td>
  </tr>
  <tr>
    <td class="w-[450px] max-w-[450px] sm:w-auto px-[20px] pb-[10px] text-base text-center text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br class="sm:hidden block"> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim<br class="sm:hidden block"> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut<br class="sm:hidden block"> aliquip ex ea commodo consequat.</td>
  </tr>
  <tr>
    <td class="w-full text-center pt-[10px] pb-[30px] px-[20px]">
      <x-button
      width="350"
      height="40"
      leading="24"
      padding="8px 20px"
      rounded="10"
      bgColor="#377E7F"
      href="https://www.google.com/"
      class="font-bold text-white text-[20px] xs:w-full"
      >Ut enim ad minim venium
    </x-button>
  </td>
  </tr>
</table>
 
 
